extends ../layout

block content
  .page-header
    h3 Series Information

    form(action='/series/create', method='GET')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-success.btn-lg.edit(type="submit")
        span.glyphicon.glyphicon-plus(title="Add New Series")

    input(type='hidden', name='_csrf', value=_csrf)
    table.table.table-striped.table-hover.table-bordered
      thead
        tr
          th Series id
          th Season
          th Season name
          th Season Shortname
          th Halftime lenght
          th Players on Field
          th Players on the bench
          th(style="width:20px;")
          th(style="width:20px;")

      each serie in series
          tbody
            tr
              td #{serie.series_id}
              td #{serie.season}
              td #{serie.season_name}
              td #{serie.season_shortname}
              td #{serie.halftime_length}
              td #{serie.players_field}
              td #{serie.players_ot_bench}
              td
                form(action='/series/edit/#{serie._id}', method='GET')
                  input(type='hidden', name='_csrf', value=_csrf)
                  button.btn.btn-primary.btn-lg.edit(type="submit")
                    span.glyphicon.glyphicon-edit(title="Edit")
              td
                form(action='/series/delete/#{serie._id}', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  button.btn.btn-danger.btn-lg.remove(type="submit")
                    span.glyphicon.glyphicon-remove(title="Remove")
